.theme-switcher
	button(aria-hidden="false").switch-btn.switch-btn--dark Тёмная тема
		img(src="/../../images/ico-moon.svg" alt="").switch-btn__img
	button(aria-hidden="true").switch-btn.switch-btn--light.switch-btn--hidden Светлая тема
		img(src="/../../images/ico-sun.svg" alt="").switch-btn__img
