// TODO Add svg icons with aria-hidden="true"

.color-scheme
    button.color-scheme__btn Включить тёмную тему
        span.color-scheme__btn-img

    button.color-scheme__btn.color-scheme__btn--hidden Включить светлую тему
        span.color-scheme__btn-img
