.theme-switcher
	button(aria-live="polite").switch-btn
		span.switch-btn__content.switch-btn__content--dark Тёмная тема
			img(src="/../../images/ico-moon.svg" alt="").switch-btn__content-img
		span.switch-btn__content.switch-btn__content--light(style="display: none;") Светлая тема
			img(src="/../../images/ico-sun.svg" alt="").switch-btn__content-img
