// TODO Add svg icons with aria-hidden="true"

.toggle
    input.toggle__input(type="checkbox" id="colorToggle")
    label(for="colorToggle").toggle__label
        span.toggle__label-name.visually-hidden Тёмная тема
        span.toggle__label-img
