footer.footer
	.container.footer-container
		small.copyright © 2021, <a href="https://fokina-dev.ru" target="_blank" rel="noopener noreferrer">Татьяна Фокина</a>
		.rights Иконки <a href="https://www.flaticon.com/authors/kiranshastry" lang="en" target="_blank" rel="noopener noreferrer">Kiranshastry</a> и <a href="https://www.freepik.com" lang="en" target="_blank" rel="noopener noreferrer">Freepik</a> с <a href="https://www.flaticon.com/" lang="en" target="_blank" rel="noopener noreferrer">Flaticon</a>, <a href="https://www.iconfinder.com" lang="en" target="_blank" rel="noopener noreferrer">Iconfinder</a>
		.github-link-wrp
			// TODO add href!
			a.github-link(href="" target="_blank" rel="noopener noreferrer")
				include ../../images/ico-github.svg
