footer.footer
    small.copyright © 2021, Татьяна Фокина
    a.github-link(href="" target="_blank" rel="noopener noreferrer")
        // TODO Add GitHub repo link and icon
        img.github-link__img(src="" alt="Репозиторий сайта на GitHub.")
