footer.footer
	.container
		small.copyright © 2021, <a href="https://fokina-dev.ru" target="_blank" rel="noopener noreferrer">Татьяна Фокина</a>
		a.github-link(href="" target="_blank" rel="noopener noreferrer")
			// TODO Add GitHub repo link and icon
			img.github-link__img(src="" alt="Репозиторий сайта на GitHub.")
