footer.footer
	.container.footer-container
		small.copyright © 2020–2021, Татьяна Фокина
		.rights Иконки <a href="https://www.flaticon.com/authors/kiranshastry" lang="en" target="_blank" rel="noopener noreferrer">Kiranshastry</a> и <a href="https://www.freepik.com" lang="en" target="_blank" rel="noopener noreferrer">Freepik</a> с <a href="https://www.flaticon.com/" lang="en" target="_blank" rel="noopener noreferrer">Flaticon</a>, <a href="https://www.iconfinder.com" lang="en" target="_blank" rel="noopener noreferrer">Iconfinder</a>
