a.skip-link(href="#main-content") К основному контенту

header.header
	.container.header-container
		a.logo-link(href="./" aria-label="Гайды по веб-доступности")
			include ../../images/logo.svg
		nav.navigation
			ul.navigation-list
				li.navigation-list__item
					a.navigation-list__item-link(href="devs.pug") Гайд для разработчиков
				li.navigation-list__item
					a.navigation-list__item-link(href="designers.pug") Гайд для дизайнеров
		include ../partials/color-theme-control
