a.skip-link(href="#main-content") К основному контенту

header.header
	.container.header-container
		a.logo-link(href="/")
			// TODO Add site logo
			img.logo-link__img(src="" alt="Гайды по веб-доступности.")
		nav.navigation
			ul.navigation-list
				li.navation-list__item
					a.navation-list__item-link(href="/devs") Гайд для разработчиков
				li.navation-list__item
					a.navation-list__item-link(href="/designers") Гайд для дизайнеров
