block vars

head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	meta(name="description" content= $description)
	title= $title
	link(rel="stylesheet" href="/../../css/styles.scss")

	//- Open Graph Image
	meta(property="og:title" content= $title)
	meta(property="og:description" content= $description)
	meta(property="og:site_name" content= $title)
	meta(property="og:url" content= $OgUrl)
	meta(property="og:image" content="/../../images/og-a11y-guides.png")
	meta(property="og:image:width" content="1920")
	meta(property="og:image:height" content="1080")
	meta(property="og:type" content="website")
	//- Twitter Open Graph Image
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:title" content= $title)
	meta(name="twitter:description" content= $description)
	meta(name="twitter:site" content= $OgUrl)
	meta(name="twitter:image" content="/../../images/og-a11y-guides.png")
	//- VK Open Graph Image
	link(rel="image_src" href="/../../images/og-a11y-guides.png")

	//- Favicons
	link(rel="icon" type="image/png" sizes="16x16" href="/../../images/favicons/favicon-16x16.png")
	link(rel="icon" type="image/png" sizes="32x32" href="/../../images/favicons/favicon-32x32.png")
	link(rel="apple-touch-icon" sizes="180x180" href="/../../images/favicons/apple-touch-icon.png")
