a.skip-link(href="#main-content") К основному контенту

header.header
	.container.header-container
		a.logo-link(href="/")
			include ../../images/logo.svg
		nav.navigation
			ul.navigation-list
				li.navigation-list__item
					a.navigation-list__item-link(href="/devs") Гайд для разработчиков
				li.navigation-list__item
					a.navigation-list__item-link(href="/designers") Гайд для дизайнеров
