block vars

head
	meta(charset="UTF-8")
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	meta(name="description" content= $description)
	title= $title
	link(rel="stylesheet" href="/../../css/example-styles.scss")
	//- Favicon
	// Todo Add favicon
