include ../vars.pug
include ../mixins.pug

doctype html
html(lang="ru")
	include ../partials/head.pug
	body
		include ../partials/header.pug

		.content
			.container
				.theme-switcher-container
					include ../partials/color-scheme-control

				main(id="main-content")
					h1.heading-first-lvl= $h1
					block content

		include ../partials/footer.pug
