include ../vars.pug

doctype html
html(lang="ru")
    include ../partials/head.pug
    body
        include ../partials/header.pug

        h1.heading-first-lvl= $h1
        block content

        include ../partials/footer.pug
