extends ../templates/guide-page.pug

//- Variables for title, description and h1
block vars
	- let $h1 = "Для дизайнеров"
	- let $title = $h1 + " — " + $siteName
	- let $description = "Рекомендации и советы по цифровой доступности для дизайнеров."
	- let $OgUrl = "https://tatianafokina.github.io/a11y-team-guide/designers.html"

block content
	//- Mixins
	mixin image($src, $altText)
		img.img.fluid-img(src= $src alt= $altText)

	h2.heading-second-lvl Соблюдайте визуальную иерархию заголовков
	p Самый главный заголовок должен иметь наибольший визуальный вес, самый маленький&nbsp;—&nbsp;наименьший. Поэтому заголовок первого уровня должен быть больше заголовка второго и так далее.
	p <strong>Важно для каждой страницы использовать заголовок первого уровня</strong>. Без него код страницы будет невалиден, а также это негативно отразится на поисковой оптимизации.
	h2.heading-second-lvl Следите за контрастностью
	p Есть три уровня доступности, если следовать рекомендациям <span lang="en">WCAG (Web Content Accessibility Guidlines)</span>. А&nbsp;—&nbsp;низший, АА&nbsp;—&nbsp;средний, ААА&nbsp;—&nbsp;наивысший. <strong>Лучше ориентироваться на AA или на AAA</strong>.
	p По <b>критерию AA</b> контраст между текстом обычного размера и фоном должен быть равен 4.5:1, а для большого&nbsp;—&nbsp;3:1.
	p <b>Критерий AAA</b>: контраст обычного текста и текста на изображениях должен быть не менее 7:1. Исключение&nbsp;—&nbsp;увеличенный текст. Уровень контраста может составлять не менее 4,5:1.
	p Эти рекомендации не относятся к логотипам, декоративным изображениям, второстепенному тексту и неактивным элементам.
	p Также старайтесь использовать фон для текста, если он размещён поверх изображения.
	p Проверить контрастность можно при помощи <a href="https://contrastchecker.com" lang="en" target="_blank" rel="noopener noreferrer">Contrast Checker</a>. Ещё можно установить плагин <a href="https://github.com/getflourish/Sketch-Color-Contrast-Analyser" lang="en" target="_blank" rel="noopener noreferrer">Sketch Color Contrast Analyser</a>, если дизайните в <span lang="en">Sketch</span>.
	h2.heading-second-lvl Не мельчите
	p Элементы, с которыми можно взаимодействовать, должны быть размером как курсор или больше. Это <strong>не меньше 48×48 пикселей</strong>. Особенно это важно для мобильных устройств.
	p На маленькие элементы сложно навести курсор мыши, а на сенсорных экранах тапнуть по ним.
	h2.heading-second-lvl Будьте после&shy;довательными и предсказуемыми
	h3.heading-third-lvl Последовательность
	p Страницы одного сайта должны иметь одинаковые цветовые схемы, шрифты и структуру. Пользователю нужно понимать, что он находится на одном сайте, когда переходит на новую страницу.
	h3.heading-third-lvl Предсказуемость
	p При взаимодействии с элементами пользователи должны представлять, что произойдёт после клика или нажатия. Поэтому ссылки должны вести на другие страницы или их части, а кнопки выполнять какие-то действия.
	p При наведении интерактивные элементы не должны слишком сильно изменяться.
	h2.heading-second-lvl Уделяйте внимание типографике
	ul
		li Используйте большой размер шрифта. Оптимально&nbsp;—&nbsp;от 12 до 16px. Рекомендуется использовать в качестве основного размера 16px.
		li Соблюдайте вертикальный ритм.
		li Избегайте длинных строк. На длину строки влияет размер шрифта.
		li Оптимальный размер строки&nbsp;—&nbsp;45–75 символов. Это примерно 66 символов в строке.
		li Оптимальная высота строки для основного текста примерно 1.4–1.65, а для заголовков&nbsp;—&nbsp;1–1.3.
		li Не выравнивайте длинные тексты по ширине. Людям с дислексией будет сложнее читать текст из-за больших пробелов между словами.
	h2.heading-second-lvl Делайте дизайн понятным для пользователей
	h3.heading-third-lvl Разграничивайте интерактивные и статичные элементы
	p При взгляде на страницу пользователям должно быть понятно, на что они могут кликнуть.
	p Например, на <a href="https://edition.cnn.com/" target="_blank" rel="noopener noreferrer">сайте <span lang="en">CNN</span></a> не понятно, где ссылки, а где текст.
	p Хороший пример явных ссылок&nbsp;—&nbsp;<a href="https://ru.wikipedia.org/wiki/" target="_blank" rel="noopener noreferrer">Википедия</a>.
	h3.heading-third-lvl Используйте понятные иконки в меню и кнопках
	p Хорошая практика&nbsp;—&nbsp;сочетать иконки с текстом.
	+figure($src="../../../src/images/right-icons.png", $altText="Пример с меню, в котором названия пунктов снабжены иконками: превью, поделиться, скопировать ссылку, скачать.", $caption="Иконки дополнены текстом, и пользователям проще понимать такой интерфейс.")
	h2.heading-second-lvl Прорабатывайте все состояния интерактивных элементов
	p Состояния <b>ссылок</b>:
	ul
		li <code>:link</code>&nbsp;—&nbsp;ссылка в обычном состоянии.
		li <code>:hover</code>&nbsp;—&nbsp;ссылка при наведении.
		li <code>:focus</code>&nbsp;—&nbsp;ссылка при фокусе на ней, например с клавиатуры с помощью клавиши <kbd>Tab</kbd>.
		li <code>:active</code>&nbsp;—&nbsp;ссылка при нажатии до перехода на другую страницу.
		li <code>:visited</code>&nbsp;—&nbsp;ссылка после перехода по ней.
	p Состояния <b>кнопок</b> и <b>чекбоксов</b>:
	ul
		li начальное состояние кнопки/чекбокса, с которыми пользователи могут взаимодействовать.
		li <code>:hover</code>&nbsp;—&nbsp;кнопка/чекбокс при наведении.
		li <code>:focus</code>&nbsp;—&nbsp;кнопка/чекбокс при фокусе на них, например с клавиатуры с помощью клавиши <kbd>Tab</kbd>.
		li <code>:active</code>&nbsp;—&nbsp;кнопка/чекбокс при нажатии на них.
		li <code>:disabled</code>, неактивное состояние (<span lang="en">disabled state</span>)&nbsp;—&nbsp;неактивные кнопка/чекбокс, с которыми пользователь не может взаимодействовать.
	p Состояния <b>полей форм</b>:
	ul
		li начальное состояние поля, в которое пользователи могут вводить данные.
		li <code>:hover</code>&nbsp;—&nbsp;поле при наведении.
		li <code>:focus</code>&nbsp;—&nbsp;поле при фокусе на нём, например с клавиатуры с помощью клавиши <kbd>Tab</kbd>.
		li <code>:disabled</code>, неактивное состояние (<span lang="en">disabled state</span>)&nbsp;—&nbsp;неактивные поля, в которые пользователь не может вводить данные.
	p Состояния <b>полей форм при валидации данных</b>:
	ul
		li поле не заполнено.
		li Поле заполнено правильно.
		li Поле заполнено правильно.
	p Дополнительно продумайте ситуацию, когда на элемент сделан фокус с клавиатуры и одновременно наведён курсор.
	p В этом случае нельзя полагаться только на цвета или иконки: необходимо лаконично описать суть проблемы под или над полем. Не все пользователи могут различать цвета или правильно интерпретировать иконки. В идеальной ситуации должно быть использовано всё из перечисленного: цвета, иконки и текст.
	+figure($src="../../../src/images/right-label-input.png", $altText="Скриншот с вариантами состояния полей: незаполненное поле, активное поле, поле с ошибкой.", $caption="Пример визуализации состояния полей.")
	h2.heading-second-lvl Не забывайте о пользователях, которые используют для навигации по сайту клавиатуру
	p Прорабатывайте стили при фокусе на кнопки, ссылки и другие интерактивные элементы.
	p Например, можно обводить интерактивные элементы разноцветными рамками со скруглением краёв и без.
	+image($src="../../../src/images/outline-examples.png", $altText="Синий аутлайн со скруглёнными краями с сайта Майкрософт и бирюзовый без скруглений с сайта сообщества про доступность.")
	h2.heading-second-lvl Создавайте понятные и лаконичные формы
	p <strong>Самое главное правило&nbsp;—&nbsp;не убирать лейблы у полей и не заменять их плейсхолдерами</strong>. Иначе пользователи могут забыть, какие данные нужно вводить в поле, на которое они перешли. Помните, что поля без лейблов не пройдут проверку на доступность.
	p Разместите поля в одну колонку. Так будет проще переходить от одного поля к другому. Исключение&nbsp;—&nbsp;связанные между собой небольшие поля. Например, почтовый индекс и город.
	p С точки зрения восприятия лучше располагать лейблы над полями, а не слева или справа.
	p Рамки полей должны быть видны. Тогда пользователи увидят активную область и поймут, куда можно кликнуть и ввести данные.
	p Подробнее прочитать обо всех особенностях проектирования полей можно в <a href="https://pavljenko.medium.com/ux-обзор-разработка-правильных-форм-ввода-информации-3844211d1e17" target="_blank" rel="noopener noreferrer">статье «<span lang="en">UX</span> обзор: Разработка правильных форм ввода информации»</a>.
