@import "../_variables.scss";

// Light theme
body {
	--bg-color: #{$bg-color};
	--text-color: #{$text-color};
	--link-color: #{$link-color};
	--link-hover: #{$link-hover-color};
	--h3-color: #{$h3-color};
	--img-filter: #{$img-filter};
	--figcaption-color: #{$figcaption-color};
	--icon-color: #{$icon-color};
	--switcher-border: #{$switcher-color};
	--switcher-hover: #{$switcher-hover-color};
	--card-hover: #{$card-hover-color};
	
	color: var(--text-color);
	background-color: var(--bg-color);
}

// Dark theme
body.dark-scheme {
	--bg-color: #{$bg-color--dark};
	--text-color: #{$text-color--dark};
	--link-color: #{$link-color--dark};
	--link-hover: #{$link-hover-color--dark};
	--h3-color: #{$h3-color--dark};
	--img-filter: #{$img-filter--dark};
	--figcaption-color: #{$figcaption-color--dark};
	--icon-color: #{$icon-color--dark};
	--switcher-border: #{$switcher-color--dark};
	--switcher-hover: #{$switcher-hover-color--dark};
	--card-hover: #{$card-hover-color--dark};
}
