@import "../_variables.scss";
@import "../mixins.scss";

* {
	box-sizing: border-box;
	color: inherit;
}

::selection {
	background: $selection-color;
}

a,
button {
	outline: 0;
}

html {
	font-size: $font-size-root;
}

body {
	//- Sticky footer
	display: flex;
	flex-direction: column;
	height: 100vh;
	
	margin: 0;
	
	font-size: $font-size-sm;
	
	line-height: $line-height;
	color: var(--text-color);
	
	background-color: var(--bg-color);
}

@include media(sm) {
	body {
		font-size: $font-size-base;
	}
}


.content {
	//- Sticky footer
	flex: 1 0 auto;
	
	margin-top: $gap-3x;
}

@include media(sm) {
	.content {
		margin-top: $gap-6x;
	}
}

small {
	font-size: $font-size-sm;
}

body,
small {
	font-family: $text-font-family;
}

code,
kbd {
	font-family: $code-font-family;
	font-size: $font-size-sm;
}

figure {
	margin: 0;
	padding: 0;
}

figcaption {
	font-size: $font-size-xs;
}

.extra-guides {
	margin-top: $gap-5x;
}

@include media(sm) {
	.extra-guides {
		margin-top: $gap-9x;
	}
}
