@import "../_variables.scss";

html {
	font-size: $font-size-root;
	
	background-color: $bg-color-main;
}

body {
	//- Sticky footer
	display: flex;
	flex-direction: column;
	height: 100vh;
	
	margin: 0;
	
	font-size: $font-size-base;
	line-height: $line-height;
	color: $text-color;
}

body,
small {
	font-family: "IBM Plex Sans", sans-serif;
}

.content {
	//- Sticky footer
	flex: 1 0 auto;
	
	margin-top: $gap-6x;
}

.extra-guides {
	margin-top: $gap-9x;
}

small {
	font-size: $font-size-sm;
}

code {
	font-family: "IBM Plex Mono", monospace;
}
