@import "../_variables.scss";

* {
	box-sizing: border-box;
	color: inherit;
}

::selection {
	background: $text-selection-color;
}

html {
	font-size: $font-size-root;
	
	background-color: $bg-color-main;
}

body {
	//- Sticky footer
	display: flex;
	flex-direction: column;
	height: 100vh;
	
	margin: 0;
	
	font-size: $font-size-base;
	line-height: $line-height;
	color: $text-color;
}

.content {
	//- Sticky footer
	flex: 1 0 auto;
	
	margin-top: $gap-6x;
}

small {
	font-size: $font-size-sm;
}

body,
small {
	font-family: "IBM Plex Sans", sans-serif;
}

code,
kbd {
	font-family: "IBM Plex Mono", monospace;
	font-size: $font-size-sm;
}

figure {
	margin: 0;
	padding: 0;
}

figcaption {
	font-size: $font-size-xs;
	color: $light-color;
}

.extra-guides {
	margin-top: $gap-9x;
}
