@import "../_variables.scss";

$card-width: 295px;

.cards-list {
	display: flex;
	flex-direction: row;
	
	margin: 0;
	padding: 0;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: $card-width;
	padding: $gap-3x;
	
	border-width: 3px;
	border-style: solid;
	border-radius: 4px;
	border-color: $card-border-color;
	
	&:not(:last-of-type) {
		margin-right: $gap-3x;
	}
	
	&:hover {
		background-color: var(--card-hover);
		box-shadow: $card-border-color 0 0 0 1px;
		
		transition: all 0.2s ease-in-out;
	}
	
	&:focus-within {
		outline: 3px dotted $focus-color;
		outline-offset: 4px;
	}
}

.card__img {
	display: flex;
	
	margin-bottom: $gap-3x;
}

// SVG
.card-icon {
	fill: var(--icon-color);
}

.card__link {
	font-size: $font-size-md;
	
	&,
	&:hover,
	&:active {
		color: inherit;
		background-color: transparent;
	}
	
	&:focus {
		outline: none;
	}
}

.card__link:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
