@import "../_variables.scss";

$toggle-label-w: 55px;
$toggle-label-h: 32px;
$toggle-label-circle-size: 22px;
$toggle-label-circle-position: 2px;
$toggle-label-circle-left: 25px;

.toggle {
	display: flex;
}

.toggle__label {
	display: block;
	position: relative;
	
	cursor: pointer;
}

.toggle__label-name {
	padding-right: $gap-2x;
}

.toggle__label-control {
	position: absolute;
	
	width: $toggle-label-w;
	height: $toggle-label-h;
	
	background-color: transparent;
	
	border: 3px solid $dark-color;
	border-radius: 33px;
	
	&:hover {
		background-color: $bg-toggle-hover-color;
	}
}

.toggle__label-control-circle {
	position: absolute;
	display: flex;
	
	top: $toggle-label-circle-position;
	left: $toggle-label-circle-position;
	width: $toggle-label-circle-size;
	height: $toggle-label-circle-size;
	
	background: $dark-color;
	
	border-radius: 50%;
	
	transition: all 0.4s ease;
}

.toggle__input:checked ~ .toggle__label .toggle__label-control-circle {
	left: $toggle-label-circle-left;
}
