@import "../_variables.scss";
@import "../mixins.scss";

$switch-btn-height: 39px;

.switch-btn {
	flex: 0 0 auto;
	
	padding: 0 $gap-2x;
	
	font-size: $font-size-sm;
	font-family: inherit;
	line-height: $switch-btn-height;
	
	border: 3px solid var(--switcher-border);
	border-radius: 33px;
	
	background: transparent;
	
	&:hover {
		background-color: var(--switcher-hover);
	}
}

.keyboard-focus .switch-btn:focus {
	outline: 2px dotted $focus-color;
	outline-offset: 2px;
}

.switch-btn__content {
	display: inline-flex;
	align-items: center;
}

.switch-btn__content-img {
	margin-left: $gap-1x;
}
