@import "../_variables.scss";

$heading-separator-h: 4px;
$first-heading-w: 58px;

.heading-first-lvl {
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		
		width: $first-heading-w;
		height: $heading-separator-h;
		margin-right: $gap-1x;
		
		background: $accent-color;
	}
}

.heading-first-lvl {
	margin-top: $gap-5x;
	margin-bottom: $gap-3x;
	
	font-size: $font-size-xxl;
}

.heading-second-lvl {
	margin-top: $gap-4x;
	margin-bottom: $gap-2x;
	
	font-size: $font-size-xl;
}

.heading-third-lvl {
	margin-top: $gap-3x;
	margin-bottom: $gap-2x;
	
	font-size: $font-size-lg;
}
