@import "../_variables.scss";

img {
	filter: var(--img-filter);
}

.figure {
	display: inline-block;
}

.figure__img {
	@extend .fluid-img;
}

.figure__caption {
	width: 0;
	min-width: 100%;
	padding-top: $gap-1x;
	
	color: var(--figcaption-color);
}
