@import "../_variables.scss";

// Global link styles
a {
	text-decoration: none;
	color: var(--link-color);
	
	border-bottom: 2px solid;
	border-bottom-color: $link-underline-color;
	
	&:hover {
		background-color: var(--link-hover);
		
		transition: all 0.3s ease;
	}
}

.keyboard-focus a:focus {
	outline: 2px dotted $focus-color;
	outline-offset: 1px;
}

// Skip link
.skip-link {
	position: absolute;
	display: inline-block;
	top: auto;
	left: -999px;
	
	width: 1px;
	height: 1px;
	
	font-size: $font-size-sm;
	font-weight: bold;
	color: var(--text-color);
	
	&:focus {
		top: 0;
		left: 50%;
		
		width: auto;
		height: auto;
		margin: 0 auto;
		
		transform: translateX(-50%);
	}
}




// Common styles
.logo-link,
.skip-link,
.card__link {
	border-bottom: 0;
}
