@import "../_variables.scss";

ul {
	list-style: none;
}

li {
	position: relative;
	
	&:before {
		content: "⁃";
		position: absolute;
		display: inline-block;
		
		left: -$gap-2x;
	}
}

// Hack for assistive technology + Safari. It's save list context
.card,
.navigation-list__item {
	&:before {
		content: "\200B";
		position: absolute;
	}
}
