@import "../_variables.scss";

ul {
	list-style: none;
}

li {
	position: relative;
	
	&:before {
		content: "⁃";
		position: absolute;
		display: inline-block;
		
		left: -$gap-2x;
	}
}

.card,
.navigation-list__item {
	&:before {
		content: none;
	}
}
