@import "../_variables.scss";

$extra-guides-item-gap: 5px;

ul {
	list-style-type: square;
}

.extra-guides__list-item {
	padding-bottom: $extra-guides-item-gap;
}

.navigation-list {
	list-style: none;
}

// Hack for assistive technology + Safari. It's save list context
.card,
.navigation-list__item {
	&:before {
		content: "\200B";
		position: absolute;
	}
}
