// Colors
$primary-color: #ebe0ce;
$secondary-color: #ed3c20;

$gray-100: #e8e8e8;
$gray-200: #b1b1b1;
$gray-300: #616161;
$gray-400: #323232;
$gray-500: #272624;
$blue-gray: #20282c;
$white: #ffffff;

$bg-color: $primary-color;
$bg-color--dark: $blue-gray;

// Text
$text-color: $gray-400;
$text-color--dark: $gray-100;
$selection-color: transparentize($secondary-color, 0.7);

$figcaption-color: $gray-300;
$figcaption-color--dark: $gray-200;

$h3-color: $gray-300;
$h3-color--dark: $gray-200;

// Links
$link-color: #01579B;
$link-color--dark: lighten($link-color, 45%);
$link-underline-color: transparentize($link-color, .3);
// Interactive styles
$link-hover-color:transparentize($link-color, .8);
$link-hover-color--dark:transparentize($link-color, .4);

// Color scheme toggle
$toggle-color: $gray-500;
$toggle-color--dark: $gray-100;
$toggle-hover-color: darken($bg-color, 10%);
$toggle-hover-color--dark: lighten($bg-color--dark, 20%);

// Cards
$card-border-color: $secondary-color;
$card-hover-color: darken($bg-color, 3%);
$card-hover-color--dark: lighten($bg-color--dark, 3%);

// Icons
$icon-color: $gray-500;
$icon-color--dark: $gray-200;

// Images
$img-filter: unset;
$img-filter--dark: brightness(.8) contrast(1.2);

// Code
$bg-code-color: transparentize($secondary-color, 0.8);




// Color scheme
// Light theme
body {
	--bg-color: #{$bg-color};
	--text-color: #{$text-color};
	--link-color: #{$link-color};
	--link-hover: #{$link-hover-color};
	--h3-color: #{$h3-color};
	--img-filter: #{$img-filter};
	--figcaption-color: #{$figcaption-color};
	--icon-color: #{$icon-color};
	--toggle-border: #{$toggle-color};
	--toggle-circle: #{$toggle-color};
	--toggle-hover: #{$toggle-hover-color};
	--card-hover: #{$card-hover-color};
	
	color: var(--text-color);
	background-color: var(--bg-color);
}

// Dark theme
body.dark-scheme {
	--bg-color: #{$bg-color--dark};
	--text-color: #{$text-color--dark};
	--link-color: #{$link-color--dark};
	--link-hover: #{$link-hover-color--dark};
	--h3-color: #{$h3-color--dark};
	--img-filter: #{$img-filter--dark};
	--figcaption-color: #{$figcaption-color--dark};
	--icon-color: #{$icon-color--dark};
	--toggle-border: #{$toggle-color--dark};
	--toggle-circle: #{$toggle-color--dark};
	--toggle-hover: #{$toggle-hover-color--dark};
	--card-hover: #{$card-hover-color--dark};
}




// Font: font-size, line-height
$text-font-family: "IBM Plex Sans", sans-serif;
$code-font-family: "IBM Plex Mono", monospace;

$font-size-root: 20px;
$font-size-base: 1rem;
$font-size-xxl: 2.2rem; // 46px
$font-size-xl: 1.8rem; // 36px
$font-size-lg: 1.5rem; // 30px
$font-size-md: 1.2rem; // 24px
$font-size-sm: 0.8rem; // 16px
$font-size-xs: 0.7rem; //14px

$line-height: 1.5;




// Gaps
$gap-1x: 8px;
$gap-2x: $gap-1x * 2; // 16px
$gap-3x: $gap-1x * 3; // 24px
$gap-4x: $gap-1x * 4; // 32px
$gap-5x: $gap-1x * 5; // 40px
$gap-6x: $gap-1x * 6; // 48px
$gap-7x: $gap-1x * 7; // 56px
$gap-8x: $gap-1x * 8; // 64px
$gap-9x: $gap-1x * 9; // 72px




// Grid breakpoints and container max-widths
$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

$container-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1020px,
	xxl: 1320px
);
