// Colors
$accent-color: #ed3c20;
$dark-color: #272624;
$light-color: #575751;
$bright-color: #ffffff;

$bg-color-main: #ebe0ce;

$text-color: #323232;

$link-color: #bb1d05;
$link-underline-color: lighten($link-color, 40%);
// Interactive styles
$link-hover-color: lighten($link-color, 20%);
$link-hover-underline-color: lighten($link-underline-color, 7%);
$link-active-color: darken($link-color, 10%);
$link-active-underline-color: darken($link-underline-color, 7%);

$nav-link-color: #861f0e;
$nav-link-underline-color: lighten($nav-link-color, 16%);

$bg-toggle-hover-color: darken($bg-color-main, 10%);
$bg-card-hover-color: darken($bg-color-main, 3%);

// Code styles
$bg-code-color: transparentize($accent-color, 0.8);

// Font: font-size, line-height
$font-size-root: 20px;
$font-size-base: 1rem;
$font-size-xxl: 2.2rem; // 46px
$font-size-xl: 1.8rem; //
$font-size-lg: 1.5rem; //
$font-size-md: 1.2rem; // 24px
$font-size-sm: 0.8rem; // 16px
$font-size-xs: 0.7rem; //14px

$line-height: 1.5;

// Gaps
$gap-1x: 8px;
$gap-2x: $gap-1x * 2; // 16px
$gap-3x: $gap-1x * 3; // 24px
$gap-4x: $gap-1x * 4; // 32px
$gap-5x: $gap-1x * 5; // 40px
$gap-6x: $gap-1x * 6; // 48px
$gap-7x: $gap-1x * 7; // 56px
$gap-8x: $gap-1x * 8; // 64px
$gap-9x: $gap-1x * 9; // 72px

// Grid breakpoints and container max-widths
$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

$container-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1020px,
	xxl: 1320px
);
