extends ../../templates/guide-page.pug

//- Variables for title, description and h1
block vars
	- let $h1 = "Для дизайнеров"
	- let $title = $h1 + " — " + $siteName
	- let $description = "Рекомендации и советы по цифровой доступности для дизайнеров."

block content
