extends ../../templates/guide-page.pug

//- Variables for title, description and h1
block vars
	- let $h1 = "Для разработчиков"
	- let $title = $h1 + " — " + $siteName
	- let $description = "Рекомендации и советы по цифровой доступности для разработчиков."

block content
	main(id="main-content").main
		p Hello World!1111
