extends ../../templates/guide-page.pug

//- Variables for title, description and h1
block vars
	- let $h1 = "Для разработчиков"
	- let $title = $h1 + " — " + $siteName
	- let $description = "Рекомендации и советы по цифровой доступности для разработчиков."

block content
	p <code>:before</code>, <code>&lt;img&gt;</code>.
	pre
		code.
			&lt;h1>
				&lt;h2>
